.carousel-caption {
    text-decoration: underline;
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    background-color: #000000;
    max-height: 100px;
    max-width: 100%;
}

.carousel-caption h3 {
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.carousel-caption p {
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}